/* --------------------------------------------------------Slider----------------------------------------------------- */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

/*--------------------------------------------------шрифты--------------------------------------------------*/

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
    src: url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-ExtraBoldCondensed.woff2') format('woff2');
    src: url('../fonts/ProximaNova-ExtraBoldCondensed.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2');
    src: url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-SemiBold.woff2') format('woff2');
    src: url('../fonts/ProximaNova-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
    src: url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff2') format('woff2');
    src: url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    src: url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    src: url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-BoldG1.woff2') format('woff2');
    src: url('../fonts/SFUIText-BoldG1.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-Light.woff2') format('woff2');
    src: url('../fonts/SFUIText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-Medium.woff2') format('woff2');
    src: url('../fonts/SFUIText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-Semibold.woff2') format('woff2');
    src: url('../fonts/SFUIText-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

/*--------------------------------------------------общие стили--------------------------------------------------*/

* {
    /*outline: 1px solid red;*/
}

html, body {
    font-size: 16px;
    font-family: 'SFUIText', 'Arial', sans-serif;
}

body {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

select, button {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    background: none;
}

ul, li {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    display: block;
    border: 2px solid #ffffff;
    height: 54px;
    color:  #ffffff;
    font-weight: 500;
    border-radius: 27px;
    line-height: 54px;
    text-align: center;
    position: relative;
}

.button__arrow::after {
    content: '';
    display: block;
    width: 72px;
    height: 12px;
    background: url("../images/arrow-long.png") center center no-repeat;
    position: absolute;
    top: 22px;
    right: -36px;
    z-index: 1;
}

.button__arrow:hover::after {
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
}

/*shine start*/
.shine {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 27px;
}

.shine::before {
    position: absolute;
    top: 0;
    left: -45%;
    z-index: 2;
    display: block;
    content: '';
    width: 25%;
    height: 100%;
    opacity: 0;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.shine:hover::before {
    -webkit-animation: shine .8s;
    animation: shine .8s;
    opacity: 1;
}

@-webkit-keyframes shine {
    0% {
        left: 0;
    }
    100% {
        left: 150%;
    }
}

@keyframes shine {
    0% {
        left: 0;
    }
    100% {
        left: 150%;
    }
}
/*shine end*/

.title {
    font-family: 'Roboto', 'Arial', sans-serif;
    color:  #000000;
    font-size: 49px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    margin: 0;
    position: relative;
    padding-left: 55px;
    line-height: 40px;
}

.title::before {
    content: '';
    display: block;
    width: 35px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 20px;
    left: 0;
}

.text {
    color:  #000000;
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
}

.template-shadow {
    max-width: 1366px;
    margin: 0 auto;
    box-shadow: 0 0 35px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    position: relative;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/*-----------------------------------------------------------------paginator-------------------------------------------------------------*/

.paginator {
    position: fixed;
    top: 50vh;
    width: 100%;
    height: 0;
    /*top: 235px;*/
    /*right: 40px;*/
    z-index: 10;
}

.paginator-list {
    position: absolute;
    top: 0;
    right: 200px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.paginator-link--active {
    display: block;
    color:  rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    margin-bottom: 96px;
}

.paginator-span--nonactive {
    display: none;
}

.paginator-link--active::after {
    content: '';
    display: block;
    width: 2px;
    height: 60px;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: -78px;
    left: 8px;
}

.paginator-link {
    display: block;
    padding: 5px;
    margin: 0 auto 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.paginator-link__dot {
    margin: 0 auto;
    display: block;
    width: 5px;
    height: 5px;
    background: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/*-----------------------------------------------------------------header-------------------------------------------------------------*/

.header {
    background: url("../images/circle-big.png") top left no-repeat /*url("../images/circle-middle.png") 760px center no-repeat, */ /*url("../images/circle-small.png") 1150px 50px no-repeat*/;
    min-height: 800px;
    padding: 30px 100px;
    position: relative;
    z-index: 1;
}

.header__img {
    background: url("../images/woman.png") no-repeat;
    display: block;
    width: 995px;
    height: 770px;
    position: absolute;
    right: 0;
    z-index: -1;
    /*-webkit-transform: scale(-1, 1);*/
    /*-moz-transform: scale(-1, 1);*/
    /*-ms-transform: scale(-1, 1);*/
    /*-o-transform: scale(-1, 1);*/
    /*transform: scale(-1, 1);*/
}

.header__circle-middle {
    background: url("../images/circle-middle.png") no-repeat;
    width: 455px;
    height: 455px;
    position: absolute;
    left: 760px;
    top: 20%;
    z-index: -2;
    /*animation: move 3s infinite linear;*/
}

@keyframes move {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(10px, 0);
    }
    50% {
        transform: translate(10px, 10px);
    }
    75% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.header-top {
    height: 100px;
}

.header-top-logo {
    margin-right: 42%;
}

.header-top-logo, .footer-logo {
    width: 65px;
    height: 60px;
    text-align: center;
    float: left;
}

.header-top-logo__text {
    color:  #fefefe;
    font-size: 0.75rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header-top-burger {
    /*width: 980px;*/
    float: left;
}

.header-top-burger__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 22px;
    height: 21px;
    vertical-align: middle;
    margin: 0 auto;
}

.header-top__cross:hover {
    -webkit-transform: rotate(180deg) translateY(3px);
    -moz-transform: rotate(180deg) translateY(3px);
    -ms-transform: rotate(180deg) translateY(3px);
    -o-transform: rotate(180deg) translateY(3px);
    transform: rotate(180deg) translateY(3px);
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}

.burger-line {
    display: block;
    cursor: pointer;
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 1px;
    margin-bottom: 4px;
}

.burger-line:last-child {
    margin-bottom: 0;
}

.burger-line3 {
    display: none;
}

.burger-line2:first-child {
    position: absolute;
    top: 7px;
    transform: rotate(45deg);
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}

.burger-line2:last-child {
    position: absolute;
    top: 7px;
    transform: rotate(-45deg);
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}

.header-menu {
    display: none;
    background: #697645;
    position: absolute;
    width: 100%;
    top: 80px;
    left: 0;
}

.header-menu__item {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #a9b68d;
}

.header-menu-item__link {
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-menu__item:hover {
    background: -webkit-linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,.1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,.1) 100%);
}

.header-top-tel {
    display: block;
    color:  #000000;
    font-size: 0.85rem;
    font-weight: 700;
    float: right;
    position: relative;
}

/*подчеркивание с края*/
.header-top-tel::after {
    content: '';
    display: inline-block;
    height: 1px;
    width: 0;
    background: #000000;
    position: absolute;
    top: 15px;
    left: 0;
}

.header-top-tel:hover::after {
    width: 100%;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}
/*конец подчеркивания*/

.header-text {
    width: 350px;
    margin-top: 140px;
}

.header-text__title {
    font-family: 'Roboto', 'Arial', sans-serif;
    color:  #ffffff;
    font-size: 3.625rem;
    font-weight: 300;
    margin: 0 0 35px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.header-text__span {
    display: inline-block;
    color:  #ffffff;
    font-size: 1.125rem;
    font-weight: 300;
    margin-bottom: 50px;
}

.header__btn {
    width: 250px;
    font-size: 0.85rem;
}

/*-----------------------------------------------------------------about-------------------------------------------------------------*/

.about {
    padding: 30px 100px;
    background: url("../images/circles.png") 525px 260px no-repeat;
    min-height: 800px;
    position: relative;
}

.about::before {
    content: '';
    display: block;
    width: 621px;
    height: 620px;
    background: url("../images/photo1.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    position: absolute;
    left: 645px;
    top: 60px;
}

.about::after {
    content: '';
    display: block;
    width: 318px;
    height: 318px;
    background: url("../images/photo2.png") center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    position: absolute;
    left: 410px;
    top: 375px;
}

.about__wrap {
    width: 390px;
}

.about__text {
    margin: 65px 0 35px;
}

.about__btn {
    display: inline-block;
    color:  #2a4f37;
    font-size: 14.01px;/* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 38px;
    position: relative;
}

/*css стрелка*/
.about__btn::after {
    content: '';
    display: block;
    width: 10px;
    height: 14px;
    background: url("../images/arrow-green.png") no-repeat center center;
    /*border-bottom: 2px solid #2a4f37;*/
    /*border-right: 2px solid #2a4f37;*/
    /*-webkit-transform: rotate(-45deg);*/
    /*-moz-transform: rotate(-45deg);*/
    /*-ms-transform: rotate(-45deg);*/
    /*-o-transform: rotate(-45deg);*/
    /*transform: rotate(-45deg);*/
    position: absolute;
    top: 2px;
    right: -20px;
}

.about__btn:hover::after {
    -webkit-transform: translateX(15px);
    -moz-transform: translateX(15px);
    -ms-transform: translateX(15px);
    -o-transform: translateX(15px);
    transform: translateX(15px);
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
}

/*-----------------------------------------------------------------schedule-------------------------------------------------------------*/

.schedule {
    padding: 30px 100px;
}

.schedule-blocks {
    height: 590px;
    margin-top: 70px;
    margin-bottom: 75px;
}

.schedule-blocks__item {
    padding: 150px 70px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 375px;
    height: 100%;
    border-radius: 4px;
    position: relative;
}

.schedule-blocks__first {
    background-color:  rgba(145, 170, 89, 0.5);
}

.schedule-blocks__first::after {
    content: '01';
    display: block;
    width: 210px;
    height: 145px;
    font-size: 210px;
    font-weight: 800;
    font-family: 'ProximaNova', 'Arial', sans-serif;
    color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 22px;
    left: 133px;
}

.schedule-blocks__second {
    background-color:  rgba(145, 170, 89, 0.7);
}

.schedule-blocks__second::after {
    content: '02';
    display: block;
    width: 210px;
    height: 145px;
    font-size: 210px;
    font-weight: 800;
    font-family: 'ProximaNova', 'Arial', sans-serif;
    color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 22px;
    left: 105px;
}

.schedule-blocks__first, .schedule-blocks__second {
    float: left;
    margin-right: 20px;
}

.schedule-blocks__third {
    float: right;
    background-color:  rgba(145, 170, 89, 0.9);
}

.schedule-blocks__third::after {
    content: '03';
    display: block;
    width: 210px;
    height: 145px;
    font-size: 210px;
    font-weight: 800;
    font-family: 'ProximaNova', 'Arial', sans-serif;
    color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 22px;
    left: 105px;
}

.schedule-blocks__title {
    font-family: 'Roboto', 'Arial', sans-serif;
    color:  #ffffff;
    font-size: 13.98px;/* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}

.schedule-blocks-title__span {
    font-size: 28px;
}

.schedule-blocks__subtitle {
    color:  #ffffff;
    font-size: 23.84px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    margin: 30px 0;
}

.schedule-blocks__text {
    color:  #ffffff;
    font-size: 17.83px;/* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    margin: 0 0 20px;
}

.schedule__btn {
    margin-top: 44px;
    width: 235px;
    height: 54px;
    font-size: 18px;
}

/*-----------------------------------------------------------------lessons-------------------------------------------------------------*/

.lessons {
    min-height: 2425px;
    padding: 30px 100px;
    background: url("../images/lesson1.png") 650px 20px no-repeat, url("../images/lesson2.png") 200px 550px no-repeat, url("../images/lesson3.png") 650px 1350px no-repeat, url("../images/lesson4.png") 100px 1920px no-repeat ;
}

.lessons-block {
    width: 380px;
}

.block1 {
    margin-bottom: 450px;
    margin-left: 100px;
}

.block2 {
    margin-bottom: 465px;
    margin-right: 100px;
    float: right;
}

.block3 {
    margin-bottom: 485px;
    margin-left: 100px;
    clear: right;
}

.block4 {
    margin-right: 100px;
    float: right;
}

.lessons__title {
    margin-bottom: 215px;
}

.lessons-block__title {
    margin: 0 0 30px;
    font-family: 'Roboto', 'Arial', sans-serif;
    color:  rgba(36, 35, 35, 0.87);
    font-size: 27.96px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
}

/*-----------------------------------------------------------------reviews-------------------------------------------------------------*/

.reviews {
    padding: 30px 100px 105px;
}

.reviews-slider {
    margin: 70px auto 0;
    width: 975px;
    height: 395px;
    background: url("../images/circles3.png") 805px 50px no-repeat;
    position: relative;
}

.slick-list {
    width: 975px;
    height: 395px;
}

.slide2, .slide3 {
    display: none;
}

.reviews-slider__prev {
    display: block;
    width: 21px;
    height: 37px;
    background: url("../images/arrow-left.png") no-repeat center center;
    position: absolute;
    top: 45%;
    left: -94px;
}

.reviews-slider__prev:hover {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
}

.reviews-slider__next {
    display: block;
    width: 21px;
    height: 37px;
    background: url("../images/arrow-right.png") no-repeat center center;
    position: absolute;
    top: 45%;
    right: -94px;
}

.reviews-slider__next:hover {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
}

.reviews-slide {
    border-radius: 4px;
    box-shadow: 0px 9px 23px 9px rgba(33, 33, 33, 0.04);
    width: 977px;
    height: 100%;
    padding-left: 140px;
    padding-right: 170px;
    padding-top: 95px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*outline: 1px solid red;*/
}

.reviews .slick-dots {
    position: static;
}

.reviews-slide-wrap {
    float: left;
    margin-right: 55px;
    margin-top: 14px;
    width: 185px;
    height: 180px;
    overflow: hidden;
    border-radius: 50%;
}

.reviews-slide-wrap__img {
    width: 100%;
}

.reviews-slide-text__name, .reviews-slide-text-info__age {
    font-family: 'Roboto', 'Arial', sans-serif;
    color:  #000000;
    font-size: 27.95px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
}

.reviews-slide-text-info {
    margin: 10px 0 30px;
}

.reviews-slide-text-info__age {
    font-size: 18px;
    float: left;
    margin-right: 15px;
    display: inline-block;
}

.reviews-slide-text-info-socials {
    display: inline-block;
    width: 39px;
}

.reviews-slide-text-info-socials__link {
    display: inline-block;
    width: 17px;
    height: 17px;
    vertical-align: bottom;
}

.reviews-slide-text-info-socials__vk {
    background: url("../images/vk.png") center center no-repeat;
}

.reviews-slide-text-info-socials__inst {
    background: url("../images/instagram.png") center center no-repeat;
}

.reviews-slide-text__review {
    color:  #000000;
    font-size: 1rem;
    font-weight: 300;
    line-height: 23px;
}

/*-----------------------------------------------------------------contacts-------------------------------------------------------------*/

.contacts {
    position: relative;
}

.contacts-map {
    width: 100%;
    height: 515px;
    /*position: relative;*/
}

.contacts-title {
    margin: 30px 100px;
}

.contacts-address {
    width: 310px;
    height: 355px;
    background-color:  #91aa59;
    box-shadow: 0px 6px 15px 0px rgba(33, 33, 33, 0.2);
    padding: 65px 70px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 10;
}

.contacts-address__title {
    color:  #ffffff;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 12px;
}

.contacts-address__text {
    color:  #ffffff;
    font-size: 0.95rem;
    font-weight: 300;
    margin-bottom: 28px;
}

.contacts-address__text:last-child {
    margin-bottom: 0;
}

.contacts-address__border {
    position: relative;
}

.contacts-address__border::after {
    content: '';
    display: inline-block;
    height: 1px;
    width: 0;
    background: #ffffff;
    position: absolute;
    top: 17px;
    left: 0;
}

.contacts-address__border:hover::after {
    width: 100%;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

.contacts-address__email {
    border-bottom: 1px solid #fff;
}

/*-----------------------------------------------------------------footer-------------------------------------------------------------*/

.footer {
    padding: 35px 100px;
    background-color:  #91aa59;
    height: 60px;
}

.footer-copyright {
    color:  #fefefe;
    font-size: 0.85rem;
    font-weight: 300;
    letter-spacing: 1px;
    float: left;
    margin-right: 35%;
    height: 100%;
    line-height: 60px;
}

.footer-logo {
    float: left;
}

.footer-socials {
    float: right;
    width: 105px;
    height: 25px;
    margin-top: 17px;
}

.footer-socials__link {
    display: block;
    width: 25px;
    height: 25px;
    float: left;
}

.footer-socials__vk {
    background: url("../images/vk2.png") center center no-repeat;
    margin-right: 15px;
}

.footer-socials__fb {
    background: url("../images/facebook2.png") center center no-repeat;
    margin-right: 15px;
}

.footer-socials__inst {
    background: url("../images/instagram.png") center center no-repeat;
}

/*--------------------------------------------------адаптив --------------------------------------------------*/

@media all and (max-width: 1370px) {

    .button__arrow::after {
        width: 32px;
        background: url("../images/arrow-long.png") right center no-repeat;
        top: 9px;
        right: -16px;
    }

    .schedule-blocks {
        margin-top: 50px;
        height: 370px;
        margin-bottom: 0;
        /*width: 58%;*/
        /*margin: 50px auto 0;*/
    }

    .schedule-blocks__item {
        width: 205px;
        height: 370px;
        padding: 100px 25px 0;
        float: left;
    }

    .schedule-blocks__first, .schedule-blocks__second {
        margin-right: 30px;
    }

    .schedule-blocks__first::after, .schedule-blocks__second::after, .schedule-blocks__third::after {
        font-size: 115px;
        left: 55px;
    }

    .schedule-blocks__title {
        font-size: 12px;
    }

    .schedule-blocks-title__span {
        font-size: 18px;
    }

    .schedule-blocks__subtitle {
        font-size: 16px;
        margin: 15px 0 20px;
    }

    .schedule-blocks__text {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .schedule__btn {
        width: 130px;
        height: 30px;
        font-size: 13px;
        line-height: 26px;
        margin-top: 30px;
    }

}

@media all and (max-width: 1315px) {

    .about {
        min-height: 600px;
    }

    .about::before {
        width: 450px;
        height: 450px;
    }

    .about::after {
        width: 250px;
        height: 250px;
        left: 475px;
        top: 340px;
    }

}

@media all and (max-width: 1215px) {

    .header__circle-middle {
        display: none;
    }

}

@media all and (max-width: 1140px) {

    .header {
        /*min-height: 750px;*/
        padding: 23px 60px;
        background-position: -90px 0;
        background-size: 67%;
    }

    .header__img {
        width: 890px;
        -webkit-background-size: contain;
        background-size: contain;
    }

    .header-text__title {
        font-size: 48px;
    }

    .header-text {
        margin-top: 60px;
    }

    .about {
        background: none;
    }

    .about::before {
        width: 350px;
        height: 350px;
        left: 550px;
        top: 120px;
    }

    .about::after {
        width: 200px;
        height: 200px;
        left: 395px;
        top: 307px;
    }

}

@media all and (max-width: 998px) {

    .header {
        min-height: 700px;
    }

    .header__img {
        width: 800px;
        -webkit-background-size: contain;
        background-size: contain;
    }

    .about {
        box-sizing: border-box;
    }

}

@media all and (max-width: 970px) {

    .header {
        background-size: 71%;
        min-height: 700px;
    }

}

@media all and (max-width: 900px) {

    .header {
        background-size: 78%;
    }

    .header-top-logo {
        margin-right: 37%;
    }

    .about::before {
        width: 303px;
        height: 302px;
        left: 420px;
        top: 135px;
    }

    .about::after {
        width: 155px;
        height: 155px;
        left: 310px;
        top: 305px;
    }

    .about__wrap {
        width: 315px;
    }

}

@media all and (max-width: 815px) {

    .header {
        min-height: 670px;
    }

    .header__img {
        width: 725px;
        height: 630px;
        -webkit-background-size: contain;
        background-size: contain;
        background-position: 40px 30px;
    }

}

@media all and (max-width: 762px) {

    .header {
        min-height: 620px;
        padding: 23px 60px;
        background-position: -90px 0;
        background-size: 78%;
    }

    .header-text__span, .header .button__arrow::after {
        display: none;
    }

    .button__arrow::after {
        width: 32px;
        background: url("../images/arrow-long.png") right center no-repeat;
        top: 9px;
        right: -16px;
    }

    .header__img {
        width: 600px;
        height: 500px;
        -webkit-background-size: contain;
        background-size: contain;
        background-position: 40px 30px;
    }

    .title {
        font-size: 24px;
    }

    .about {
        padding: 23px 60px;
        min-height: 520px;
    }

    .about::before {
        width: 200px;
        height: 200px;
        left: 405px;
        top: 155px;
        background-size: 230%;
        border-radius: 50%;
        background-position: 0 -105px;
    }

    .about::after {
        width: 130px;
        height: 130px;
        left: 320px;
        top: 290px;
        background-size: 150%;
        border-radius: 50%;
    }

    .about__text {
        margin-top: 50px;
    }

    .schedule {
        padding: 23px 60px;
    }

    .schedule-blocks {
        margin-top: 50px;
        height: 370px;
        margin-bottom: 0;
    }

    .schedule-blocks__item {
        width: 205px;
        height: 370px;
        padding: 100px 25px 0;
    }

    .schedule-blocks__first, .schedule-blocks__second {
        margin-right: 13px;
    }

    .schedule-blocks__first::after, .schedule-blocks__second::after, .schedule-blocks__third::after {
        font-size: 115px;
        left: 55px;
    }

    .schedule-blocks__title {
        font-size: 12px;
    }

    .schedule-blocks-title__span {
        font-size: 18px;
    }

    .schedule-blocks__subtitle {
        font-size: 16px;
        margin: 15px 0 20px;
    }

    .schedule-blocks__text {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .schedule__btn {
        width: 130px;
        height: 30px;
        font-size: 13px;
        line-height: 26px;
        margin-top: 30px;
    }
}

@media all and (max-width: 700px) {

    .header__btn {
        width: 210px;
    }

}

@media all and (max-width: 656px) {

    .header {
        min-height: 520px;
    }

    .header__img {
        background-position: -180px 16px;
        -webkit-transform: scale(-1, 1);
        -moz-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        transform: scale(-1, 1);
    }

    .header-text__title {
        font-size: 30px;
    }

    .header-text {
        width: 200px;
        margin-top: 60px;
    }

    .header__btn {
        font-size: 11px;
        width: 155px;
        height: 39px;
        line-height: 39px;
    }
}

@media all and (max-width: 600px) {

    .header__img {
        width: 500px;
        height: 500px;
        background-position: -135px 30px;
    }

    .header-top-tel {
        display: none;
    }

    .about::before {
        left: 305px;
        top: 276px;
    }

    .about::after {
        left: 200px;
        top: 370px;
    }

}

@media all and (max-width: 550px) {

    .header {
        min-height: 475px;
        background-size: 85%;
    }

    .header__img {
        height: 425px;
    }

    .header-text {
        margin-top: 0;
    }

}

@media all and (max-width: 500px) {

    .header {
        padding: 15px 20px;
        background-size: cover;
    }

    .header__img {
        background-position: -195px 50px;
        margin-top: 30px;
    }

    .header-top-logo {
        margin-right: 64%;
    }

    .header-text {
        margin-top: 40px;
    }

    .about {
        padding: 15px 20px;
    }

    .title {
        font-size: 18px;
    }

    .text {
        font-size: 14px;
    }

    .about__btn {
        font-size: 12px;
    }

    .about::before {
        left: 200px;
    }

    .about::after {
        left: 100px;
        top: 370px;
    }

    .schedule {
        padding: 15px 20px;
    }

}

@media all and (max-width: 410px) {

    .header-top-logo {
        margin-right: 0;
    }

    .header-top-burger {
        float: right;
    }

    .header__img {
        background-position: -161px 140px;
        height: 460px;
        width: 415px;
    }

    .about::before {
        left: 130px;
        top: 259px;
    }

    .about::after {
        left: 24px;
        top: 340px;
    }

}

@media all and (max-width: 340px) {

    .about__wrap {
        width: 240px;
    }

    .about::before {
        display: none;
    }

    .about::after {
        left: 65px;
        top: 375px;
    }

}